@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'open sans';
    transition: all .5s;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'montserrat';
}

.carousel-item img {
    height: 110vh;
    object-fit: cover;
}

.title,
.sub-title {
    color: #c0812a;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
}

.sub-title {
    text-transform: none;
    text-align: left;
    font-weight: 700;
}

#rooms .card img:hover {
    transform: scale(1.2);
}